html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.3;
    //font-weight: 400;
}

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }    

    &-ai-c{
        align-items: center;
    } 
}

.container{
    padding-left: 26px;
    padding-right: 25px;
    margin: 0 auto;
    &--pt{
        padding-top: 49px;
    }

    @include breakpoint-up(medium){
        padding-left: 450px;
        padding-right: 450px;
        margin: 0 auto;
        &--pt{
            padding-top: 78px;
        }
    }

}

.bgcolorli{
    background-color: $veryLightGray;
    transition: background-color 250ms ease-in-out;
}

.bgcolordk{
    background-color: $veryDarkBlue;
    transition: background-color 250ms ease-in-out;
}

.bgboxcolourli{
    color: $veryDarkGrayishBlue; 
    background-color:white;
    transition: background-color 250ms ease-in-out;
    &:not(:last-child){
        border-bottom: 1px solid $lightGrayishBlue;
    }
}

.bgboxcolourdk{
    color: $lightGrayishBlue;
    background-color:$veryDarkDesaturatedBlue;
    transition: background-color 250ms ease-in-out;
    &:not(:last-child){
        border-bottom: 1px solid $veryDarkGrayishBlue;
    }
}

// .fontcolourli{
//     color: $veryDarkGrayishBlue; 
// }

// .fontcolourdk{
//     color: $lightGrayishBlue;
// }

 .hide-for-mobile{
     @include breakpoint-down(medium){
         display: none; 
     }
 }

 .hide-for-desktop{
     @include breakpoint-up(large){
         display: none; 
     }
 }