.header{
    display: flex;
    z-index: 1;
    &__li{
        position: relative;
        justify-content: center;
        align-content: center;
        min-height: 12.5rem;
        min-width: 100vw;
        background-repeat: no-repeat;
        background-image: url("/images/bg-mobile-light.jpg");
        background-position: top center;
        background-size: cover;   

        @include breakpoint-up(medium){
            position: relative;
            justify-content: center;
            align-content: center;
            min-height: 300px;
            min-width: 1440px;
            background-repeat: no-repeat;
            background-image: url("/images/bg-desktop-light.jpg");
            background-position: top center;
            background-size: cover;   
        }
    }

    &__dk{
        position: relative;
        justify-content: center;
        align-content: center;
        min-height: 12.5rem;
        min-width: 100vw;
        background-repeat: no-repeat;
        background-image: url("/images/bg-mobile-dark.jpg");
        background-position: top center;
        background-size: cover; 

        @include breakpoint-up(medium){
            position: relative;
            justify-content: center;
            align-content: center;
            min-height: 300px;
            min-width: 1440px;
            background-repeat: no-repeat;
            background-image: url("/images/bg-desktop-dark.jpg");
            background-position: top center;
            background-size: cover;   
        }
    }


    h1{
        position: absolute;
        font-size: 1.7rem;
        text-align: left;
        font-weight: 600;
        color: white;
        margin: 0px;

        @include breakpoint-up(medium){
            font-size: 41px;
            font-weight: 900;
        }
    }

    .button{
        background-image: url(/images/icon-moon.svg);
        min-height: 1.7rem;
        min-width: 1.7rem;
        background-repeat: no-repeat;
        float: right;

        @include breakpoint-up(medium){
            min-height: 1.9rem;
            min-width: 1.9rem;
            margin-top:0.5rem;
        }
     }
     
     .switch{
        background-image: url(/images/icon-sun.svg);
        min-height: 1.7rem;
        min-width: 1.7rem;
        background-repeat: no-repeat;
        float: right;

        @include breakpoint-up(medium){
            min-height: 1.9rem;
            min-width: 1.9rem;
            margin-top:0.5rem;
        }
     }

    
}