html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 26px;
  padding-right: 25px;
  margin: 0 auto;
}

.container--pt {
  padding-top: 49px;
}

@media (min-width: 40em) {
  .container {
    padding-left: 450px;
    padding-right: 450px;
    margin: 0 auto;
  }
  .container--pt {
    padding-top: 78px;
  }
}

.bgcolorli {
  background-color: #fafafa;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.bgcolordk {
  background-color: #161722;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.bgboxcolourli {
  color: #393a4c;
  background-color: white;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.bgboxcolourli:not(:last-child) {
  border-bottom: 1px solid #d2d3db;
}

.bgboxcolourdk {
  color: #d2d3db;
  background-color: #25273c;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.bgboxcolourdk:not(:last-child) {
  border-bottom: 1px solid #393a4c;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__li {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 12.5rem;
  min-width: 375px;
  background-repeat: no-repeat;
  background-image: url("/images/bg-mobile-light.jpg");
  background-position: top center;
  background-size: cover;
}

@media (min-width: 40em) {
  .header__li {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 300px;
    min-width: 1440px;
    background-repeat: no-repeat;
    background-image: url("/images/bg-desktop-light.jpg");
    background-position: top center;
    background-size: cover;
  }
}

.header__dk {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 12.5rem;
  min-width: 375px;
  background-repeat: no-repeat;
  background-image: url("/images/bg-mobile-dark.jpg");
  background-position: top center;
  background-size: cover;
}

@media (min-width: 40em) {
  .header__dk {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 300px;
    min-width: 1440px;
    background-repeat: no-repeat;
    background-image: url("/images/bg-desktop-dark.jpg");
    background-position: top center;
    background-size: cover;
  }
}

.header h1 {
  position: absolute;
  font-size: 1.7rem;
  text-align: left;
  font-weight: 600;
  color: white;
  margin: 0px;
}

@media (min-width: 40em) {
  .header h1 {
    font-size: 41px;
    font-weight: 900;
  }
}

.header .button {
  background-image: url(/images/icon-moon.svg);
  min-height: 1.7rem;
  min-width: 1.7rem;
  background-repeat: no-repeat;
  float: right;
}

@media (min-width: 40em) {
  .header .button {
    min-height: 1.9rem;
    min-width: 1.9rem;
    margin-top: 0.5rem;
  }
}

.header .switch {
  background-image: url(/images/icon-sun.svg);
  min-height: 1.7rem;
  min-width: 1.7rem;
  background-repeat: no-repeat;
  float: right;
}

@media (min-width: 40em) {
  .header .switch {
    min-height: 1.9rem;
    min-width: 1.9rem;
    margin-top: 0.5rem;
  }
}

.lists {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 108px;
}

@media (min-width: 40em) {
  .lists {
    top: 158px;
  }
}

.lists__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.lists__listitems {
  overflow: hidden;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 52px;
  font-size: 14px;
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3;
}

.lists__listinfo {
  border-top: 1px solid #d2d3db;
  padding-top: 19px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 21px;
  overflow: hidden;
}

.lists__listinfo p {
  position: absolute;
  margin: 0px;
  color: #9394a5;
  font-size: 13px;
}

.lists__listinfo .cc {
  color: #9394a5;
  text-decoration: none;
  font-size: 13px;
  float: right;
}

.lists .all {
  color: #777a92;
  text-decoration: none;
  font-size: 15px;
  padding-left: 164px;
}

@media (max-width: 63.9375em) {
  .lists .all {
    padding-left: 81px;
  }
}

.lists .active {
  color: #777a92;
  text-decoration: none;
  font-size: 15px;
  padding-left: 17px;
}

.lists .completed {
  color: #777a92;
  text-decoration: none;
  font-size: 15px;
  padding-left: 16px;
}

.lists .options {
  margin-top: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 17px;
  padding-bottom: 16px;
}

.lists .add {
  overflow: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 16px;
}

.lists__circle {
  height: 20px;
  width: 20px;
  border: 1px solid #e4e5f1;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-top: 17px;
}

.lists__bs {
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.lists .check {
  background-image: url("/images/icon-check.svg");
  margin-left: 4px;
  margin-top: 5px;
  min-width: 11px;
  position: absolute;
  z-index: 2;
  min-height: 9px;
  background-repeat: no-repeat;
  background-position: center;
}

.lists .bgcolour {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
  position: absolute;
  z-index: 1;
}

.lists .completed_task {
  text-decoration: line-through;
}

.lists .create {
  padding: 0;
  margin-top: 19px;
  margin-bottom: 22px;
  margin-left: 52px;
}
/*# sourceMappingURL=style.css.map */